---
language: php
dist: trusty
group: edge
php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - 7.3
  - 7.4snapshot
  - nightly
  - hhvm-3.12
  - hhvm-3.15
  - hhvm-3.18
  - hhvm-3.21
  - hhvm-3.24
  - hhvm-3.27
  - hhvm-3.30

matrix:
  allow_failures:
    - php: 7.4snapshot
    - php: nightly

before_script:
  - phpenv config-rm xdebug.ini || true

script: "php test.php"
